* {
  margin: 0;
  padding: 0;
}

#theme-button {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 999;
}

#add-button {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 999;
}

.light {
  background-color: #ffffff;
}

.dark {
  background-color: #454545;
}
